@use "shared";

.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;

  .top-bar {
    @include shared.absolute_zero($top: 0, $left: 0, $right: 0);

    height: 32px;
    background: #f0f0f0;

    > section {
      @extend %width_center;
      font-size: 11px;

      #headerMenu {
        float: right;
        position: relative;

        li {
          @extend %top_bar_li;
        }
      }

      #subscriberMenu {
        position: relative;
        float: left;

        li {
          @extend %top_bar_li;
        }
      }
    }
  }

  #header {
    @extend %width_center;
    position: relative;
    height: 115px;
    padding-top: 32px;
  }
}

#header {
  section {
    width: 880px;
    position: absolute;
    height: 91px;
    margin: 25px 0 0 140px;
  }

  .categoryBtn {
    @include shared.spriteImage(0, 0);
    @include shared.absolute_zero($top: 32px, $left: 0);
    width: 110px;
    height: 115px;
    margin-right: 30px;
    text-align: center;

    a {
      display: block;
      margin-top: 73px;
      color: #fff;
      font-size: 13px;
    }
  }

}

#header > section {

  .headerBar {
    display: block;
    @extend %clearFix;
    position: relative;

    h1 {
      width: 174px;
      height: 41px;
      margin: 2px 20px 0 0;
      float: left;

      img {
        width: 174px;
        height: 41px;
        aspect-ratio: auto 174 / 41;
      }
    }

    .product-search {
      position: relative;
      width: 518px;
      float: left;
      margin-left: 0;
      height: 37px;
      margin-right: 22px;
      border: 2px solid #4285f4;
      background-position: 0 -207px;
    }
  }
}

.icon-menus {
  margin-top: 3px;
  display: block;
  font-size: 12px;

  li {
    float: left;
    position: relative;
  }

  .my-coupang {
    @include shared.width_height($width: 50px, $height: 52px);
    margin-right: 20px;

    .my-coupang-icon {
      @include shared.spriteImage(-112px, -42px);
      @include shared.width_height($width: 29px, $height: 31px);
      display: block;
      margin: 0 auto;
    }

    .my-coupang-title {
      @extend %icon_menu_span;
      padding-top: 7px;
    }
  }

  .cart {
    width: 50px;
    height: 60px;
    margin-top: -4px;
    display: inline-block;

    .cart-icon {
      @include shared.width_height($width: 40px, $height: 40px);
      display: block;
      margin: 0 auto;
      @include shared.spriteImage(-112px, 0);
    }

    .cart-title {
      @extend %icon_menu_span;
    }

    #headerCartCount {
      @include shared.absolute_zero($top: 8px, $right: 10px);
      @include shared.width_height(17px, 19px);
      margin: -5px 0 0 4px;
      color: #fff;
      text-align: center;
      line-height: 19px;
      letter-spacing: -1px;
      font: bold 10px Tahoma;
    }
  }
}

.gnbMenu {
  position: relative;
  width: auto;
  min-width: 980px;
  left: 0;
  z-index: 0;

  li {
    background: 0;
    position: relative;
    float: left;
    text-align: center;
    height: 32px;
    @include shared.gnb_menu_link();
  }

  .rocket-delivery {
    @include shared.spriteImage(0, -118px);
    padding-left: 10px;
  }

  .rocket-fresh {
    @include shared.gnb_menu_link(21px);
    @include shared.gnb_menu_icon("https://static.coupangcdn.com/image/coupang/common/pc_header_rocket_fresh_1x.png", 3px, 0);
    @extend %new_icon;
  }

  .business-mall-landing {
    @include shared.gnb_menu_link(34px);
    @include shared.gnb_menu_icon("https://static.coupangcdn.com/image/coupang/common/logoBizonlyBrown.png", 6px, 14px);
    @extend %new_icon;
  }

  .coupang-global {
    @include shared.gnb_menu_link(36px);
    @include shared.gnb_menu_icon("https://static.coupangcdn.com/image/coupang/home/icons/Overseas.png", 3px, 14px);
  }
}
