@use 'shared';

#searchForm {

  legend {
    display: none;
  }

  .searchForm {
    @include shared.absolute_zero($top: 0, $left: 0, $right: 0, $bottom: 0);

    .select-category {
      border: 0;
      width: 134px;
      border-right: 1px solid #ddd;
      @include shared.absolute_zero($top: 0, $left: 0);
      font-size: 12px;
      font-weight: normal;
      height: 37px;


      .select-category__button {
        @include shared.spriteImage(6px, -165px);
        @include shared.absolute_zero($top: 3px, $right: 0);
        display: block;
        @include shared.width_height($width: 30px, $height: 30px);
        outline: 0;
      }

      .select-category__current {
        @include shared.absolute_zero($top: 0px, $left: 0);
        @include shared.width_height($width: 110px, $height: 38px);
        display: block;
        line-height: 38px;
        outline: 0;
        overflow: hidden;
        text-indent: 10px;
      }
    }

    #searchCategories {
      visibility: hidden;
      @include shared.width_height($width: 0, $height: 0);
    }

    #searchKeyword {
      @include shared.width_height($width: 310px, $height: 37px);
      padding-right: 23px;
      @include shared.absolute_zero($top: 0, $left: 135px);
      border: 0;
      text-indent: 10px;
      outline: 0;
      font-size: 14px;
      line-height: normal;
      color: #333;
    }

    .speech-mic {
      @include shared.absolute_zero($top: 5px, $right: 48px);
      @include shared.width_height($width: 26px, $height: 26px);
      z-index: 30;
      overflow: hidden;
      background: url(//img1a.coupangcdn.com/image/coupang/common/ic_mic.png) 3px 1px no-repeat;
      background-size: 20px 48px;

      text-indent: -99px;
    }
  }

  #searchBtn {
    overflow: hidden;
    @include shared.absolute_zero($right: 0px);
    @include shared.width_height($width: 50px, $height: 39px);
    @include shared.spriteImage(-112px, -71px);
    text-indent: -9em;
  }
}

#popupWords {
  display: block;
  @include shared.width_height($width: 384px, $height: 328px);
  @include shared.absolute_zero($top: 37px, $left: 134px, $right: 1px);
  border: 1px solid #ddd;
  height: auto;
  z-index: 1;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  overflow: hidden;
  background: #fff;

  &:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 199px;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ccc;
  }

  #autoComplete {
    padding: 20px 12px 6px 12px;

    h3 {
      height: 11px;
      margin: 0 6px;
      padding: 14px 0 13px 4px;
      color: #333;
      border-bottom: 1px solid #ddd;
      font-size: 12px;
      position: relative;
    }

    .auto {
      cursor: pointer;
      height: 13px;
      overflow: hidden;
      white-space: nowrap;
      font: normal 12px Tahoma;
      color: #555;
      top: 39px;
      left: 0;
      right: 0;
      display: block;
      padding: 0 0 16px 0;

      > strong {
        color: #008cff;
        font-weight: bold;
      }
    }
  }
}

#autoComplete > ol {
  height: 247px;
  padding: 12px 6px 0 6px;

  li {
    position: relative;
    width: 100%;
    overflow: hidden;

    a {
      @include shared.absolute_zero($top: 0, $left: 0, $right: 53px, $bottom: 0);
      padding: 0 0 12px 4px;
      display: block;
      height: 13px;
      font: normal 12px Tahoma;
      color: #555;
      overflow: hidden;
      white-space: nowrap;
    }

    .delete {
      color: #0070ff;
      font: normal 12px Tahoma;
      margin: 1px 0 13px 0;
      padding: 0;
      background-position: -156px -187px;
      width: 38px;
      height: 13px;
      float: right;
      text-indent: -9999px;
      cursor: pointer;
      display: none;

      &:hover {
        display: inline;
      }
    }
  }

}