html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  margin: 0;
}

body {
  min-width: 1020px;
}

#header > section .headerBar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.header .top-bar > section #headerMenu li, .header .top-bar > section #subscriberMenu li {
  height: 26px;
  position: relative;
  padding-top: 10px;
  float: left;
  padding-right: 12px;
}

.banner .selected-product, .header .top-bar > section, .header #header {
  width: 1020px;
  margin: 0 auto;
}

.icon-menus .my-coupang .my-coupang-title, .icon-menus .cart .cart-title {
  width: 50px;
  display: block;
  text-align: center;
  padding-top: 3px;
  color: #333;
  white-space: nowrap;
}

.gnbMenu .rocket-fresh i, .gnbMenu .business-mall-landing i {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background: url(//static.coupangcdn.com/image/coupang/common/ico_new.png) no-repeat transparent;
  background-size: 12px;
  text-indent: -9em;
  position: absolute;
  right: 0;
  top: 8px;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
.header .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #f0f0f0;
}
.header .top-bar > section {
  font-size: 11px;
}
.header .top-bar > section #headerMenu {
  float: right;
  position: relative;
}
.header .top-bar > section #subscriberMenu {
  position: relative;
  float: left;
}
.header #header {
  position: relative;
  height: 115px;
  padding-top: 32px;
}

#header section {
  width: 880px;
  position: absolute;
  height: 91px;
  margin: 25px 0 0 140px;
}
#header .categoryBtn {
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 32px;
  left: 0;
  width: 110px;
  height: 115px;
  margin-right: 30px;
  text-align: center;
}
#header .categoryBtn a {
  display: block;
  margin-top: 73px;
  color: #fff;
  font-size: 13px;
}

#header > section .headerBar {
  display: block;
  position: relative;
}
#header > section .headerBar h1 {
  width: 174px;
  height: 41px;
  margin: 2px 20px 0 0;
  float: left;
}
#header > section .headerBar h1 img {
  width: 174px;
  height: 41px;
  aspect-ratio: auto 174/41;
}
#header > section .headerBar .product-search {
  position: relative;
  width: 518px;
  float: left;
  margin-left: 0;
  height: 37px;
  margin-right: 22px;
  border: 2px solid #4285f4;
  background-position: 0 -207px;
}

.icon-menus {
  margin-top: 3px;
  display: block;
  font-size: 12px;
}
.icon-menus li {
  float: left;
  position: relative;
}
.icon-menus .my-coupang {
  width: 50px;
  height: 52px;
  margin-right: 20px;
}
.icon-menus .my-coupang .my-coupang-icon {
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px -42px;
  width: 29px;
  height: 31px;
  display: block;
  margin: 0 auto;
}
.icon-menus .my-coupang .my-coupang-title {
  padding-top: 7px;
}
.icon-menus .cart {
  width: 50px;
  height: 60px;
  margin-top: -4px;
  display: inline-block;
}
.icon-menus .cart .cart-icon {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px 0;
}
.icon-menus .cart #headerCartCount {
  position: absolute;
  top: 8px;
  right: 10px;
  margin: -5px 0 0 4px;
  color: #fff;
  text-align: center;
  line-height: 19px;
  letter-spacing: -1px;
  font: bold 10px Tahoma;
}

.gnbMenu {
  position: relative;
  width: auto;
  min-width: 980px;
  left: 0;
  z-index: 0;
}
.gnbMenu li {
  background: 0;
  position: relative;
  float: left;
  text-align: center;
  height: 32px;
}
.gnbMenu li a {
  font-weight: normal;
  display: block;
  height: 25px;
  margin-left: 1px;
  font-size: 12px;
  color: #333;
  padding: 7px 14px 0 14px;
}
.gnbMenu .rocket-delivery {
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: 0 -118px;
  padding-left: 10px;
}
.gnbMenu .rocket-fresh a {
  font-weight: normal;
  display: block;
  height: 25px;
  margin-left: 1px;
  font-size: 12px;
  color: #333;
  padding: 7px 14px 0 21px;
}
.gnbMenu .rocket-fresh a:before {
  content: url("https://static.coupangcdn.com/image/coupang/common/pc_header_rocket_fresh_1x.png");
  top: 3px;
  left: 0;
  display: inline-block;
  position: absolute;
}
.gnbMenu .business-mall-landing a {
  font-weight: normal;
  display: block;
  height: 25px;
  margin-left: 1px;
  font-size: 12px;
  color: #333;
  padding: 7px 14px 0 34px;
}
.gnbMenu .business-mall-landing a:before {
  content: url("https://static.coupangcdn.com/image/coupang/common/logoBizonlyBrown.png");
  top: 6px;
  left: 14px;
  display: inline-block;
  position: absolute;
}
.gnbMenu .coupang-global a {
  font-weight: normal;
  display: block;
  height: 25px;
  margin-left: 1px;
  font-size: 12px;
  color: #333;
  padding: 7px 14px 0 36px;
}
.gnbMenu .coupang-global a:before {
  content: url("https://static.coupangcdn.com/image/coupang/home/icons/Overseas.png");
  top: 3px;
  left: 14px;
  display: inline-block;
  position: absolute;
}

body {
  min-width: 1020px;
}

#header > section .headerBar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.header .top-bar > section #headerMenu li, .header .top-bar > section #subscriberMenu li {
  height: 26px;
  position: relative;
  padding-top: 10px;
  float: left;
  padding-right: 12px;
}

.header .top-bar > section, .header #header, .banner .selected-product {
  width: 1020px;
  margin: 0 auto;
}

.icon-menus .my-coupang .my-coupang-title, .icon-menus .cart .cart-title {
  width: 50px;
  display: block;
  text-align: center;
  padding-top: 3px;
  color: #333;
  white-space: nowrap;
}

.gnbMenu .rocket-fresh i, .gnbMenu .business-mall-landing i {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background: url(//static.coupangcdn.com/image/coupang/common/ico_new.png) no-repeat transparent;
  background-size: 12px;
  text-indent: -9em;
  position: absolute;
  right: 0;
  top: 8px;
}

.banner {
  position: relative;
  height: 450px;
  background: #fafafa;
}
.banner .main_bg {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
  display: none;
}
.banner .main_bg.selected {
  display: block;
}
.banner .selected-product {
  position: relative;
  overflow: hidden;
  height: 450px;
}
.banner .selected-product .image-container a {
  background: url(https://img1a.coupangcdn.com/image/coupang/common/ico_blank.png);
}

.selected-product .thumbnail {
  position: absolute;
  top: 45px;
  right: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.selected-product .thumbnail li {
  position: relative;
}
.selected-product .thumbnail li a {
  display: block;
}
.selected-product .thumbnail li a img {
  border-top: 1px solid #fff;
}
.selected-product .thumbnail li a .product_thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #fff;
}
.selected-product .thumbnail li a .product_thumbnail.selected {
  border: 2px solid #4285f4;
}

body {
  min-width: 1020px;
}

#header > section .headerBar:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.header .top-bar > section #headerMenu li, .header .top-bar > section #subscriberMenu li {
  height: 26px;
  position: relative;
  padding-top: 10px;
  float: left;
  padding-right: 12px;
}

.header .top-bar > section, .header #header, .banner .selected-product {
  width: 1020px;
  margin: 0 auto;
}

.icon-menus .my-coupang .my-coupang-title, .icon-menus .cart .cart-title {
  width: 50px;
  display: block;
  text-align: center;
  padding-top: 3px;
  color: #333;
  white-space: nowrap;
}

.gnbMenu .rocket-fresh i, .gnbMenu .business-mall-landing i {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background: url(//static.coupangcdn.com/image/coupang/common/ico_new.png) no-repeat transparent;
  background-size: 12px;
  text-indent: -9em;
  position: absolute;
  right: 0;
  top: 8px;
}

#searchForm legend {
  display: none;
}
#searchForm .searchForm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#searchForm .searchForm .select-category {
  border: 0;
  width: 134px;
  border-right: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: normal;
  height: 37px;
}
#searchForm .searchForm .select-category .select-category__button {
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: 6px -165px;
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  outline: 0;
}
#searchForm .searchForm .select-category .select-category__current {
  position: absolute;
  top: 0px;
  left: 0;
  width: 110px;
  height: 38px;
  display: block;
  line-height: 38px;
  outline: 0;
  overflow: hidden;
  text-indent: 10px;
}
#searchForm .searchForm #searchCategories {
  visibility: hidden;
  width: 0;
  height: 0;
}
#searchForm .searchForm #searchKeyword {
  width: 310px;
  height: 37px;
  padding-right: 23px;
  position: absolute;
  top: 0;
  left: 135px;
  border: 0;
  text-indent: 10px;
  outline: 0;
  font-size: 14px;
  line-height: normal;
  color: #333;
}
#searchForm .searchForm .speech-mic {
  position: absolute;
  top: 5px;
  right: 48px;
  width: 26px;
  height: 26px;
  z-index: 30;
  overflow: hidden;
  background: url(//img1a.coupangcdn.com/image/coupang/common/ic_mic.png) 3px 1px no-repeat;
  background-size: 20px 48px;
  text-indent: -99px;
}
#searchForm #searchBtn {
  overflow: hidden;
  position: absolute;
  right: 0px;
  width: 50px;
  height: 39px;
  background-image: url("//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background-repeat: no-repeat;
  background-position: -112px -71px;
  text-indent: -9em;
}

#popupWords {
  display: block;
  width: 384px;
  height: 328px;
  position: absolute;
  top: 37px;
  left: 134px;
  right: 1px;
  border: 1px solid #ddd;
  height: auto;
  z-index: 1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #fff;
}
#popupWords:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 199px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ccc;
}
#popupWords #autoComplete {
  padding: 20px 12px 6px 12px;
}
#popupWords #autoComplete h3 {
  height: 11px;
  margin: 0 6px;
  padding: 14px 0 13px 4px;
  color: #333;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  position: relative;
}
#popupWords #autoComplete .auto {
  cursor: pointer;
  height: 13px;
  overflow: hidden;
  white-space: nowrap;
  font: normal 12px Tahoma;
  color: #555;
  top: 39px;
  left: 0;
  right: 0;
  display: block;
  padding: 0 0 16px 0;
}
#popupWords #autoComplete .auto > strong {
  color: #008cff;
  font-weight: bold;
}

#autoComplete > ol {
  height: 247px;
  padding: 12px 6px 0 6px;
}
#autoComplete > ol li {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#autoComplete > ol li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 53px;
  bottom: 0;
  padding: 0 0 12px 4px;
  display: block;
  height: 13px;
  font: normal 12px Tahoma;
  color: #555;
  overflow: hidden;
  white-space: nowrap;
}
#autoComplete > ol li .delete {
  color: #0070ff;
  font: normal 12px Tahoma;
  margin: 1px 0 13px 0;
  padding: 0;
  background-position: -156px -187px;
  width: 38px;
  height: 13px;
  float: right;
  text-indent: -9999px;
  cursor: pointer;
  display: none;
}
#autoComplete > ol li .delete:hover {
  display: inline;
}

/*# sourceMappingURL=index.css.map */
