html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  width: 100%;
  background: #fff;
  font: 400 14px sans-serif;
  line-height: 1.4;
  color: #333;
  letter-spacing: -0.5px;
}

input,
select,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
  background: none;
  border: 0;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
select,
img,
button {
  display: block;
}

img {
  max-width: 100%;
  border: 0;
}

button {
  cursor: pointer;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.hidden-text {
  font-size: 0;
  color: transparent;
}

.search-box, .header__search-wrap .search-categories-button, .header__search-wrap .search-categories li, .header__search-wrap .search-input {
  text-indent: 12px;
  line-height: 36px;
}

.search-pop, .header__search-wrap .search-categories, .header__search-wrap .search-recent-keywords-wrap, .header__search-wrap .search-automatic-completion-wrap {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  overflow-y: auto;
}

.search-pop__hover, .header__search-wrap .search-categories li:hover span, .header__search-wrap .search-recent-keywords a.active, .header__search-wrap .search-recent-keywords a:hover span {
  color: #4285f4;
  text-decoration: underline;
}

.header__search-wrap {
  width: 518px;
  margin: 30px auto 0;
}

.header__search-wrap .search-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  font-size: 0.857em;
  border: 2px solid #4285f4;
}

.header__search-wrap .search-categories-wrap {
  width: 134px;
  border-right: 1px solid #ddd;
  background: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png") no-repeat 112px -162px;
}

.header__search-wrap .search-categories {
  width: calc(100% + 3px);
  max-height: 0;
  margin-left: -2px;
  border-width: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.header__search-wrap .search-categories.active {
  max-height: 325px;
  border-width: 1px;
}

.header__search-wrap .search-categories-button {
  width: 100%;
  text-align: left;
}

.header__search-wrap .search-categories li {
  height: 100%;
  cursor: pointer;
}

.header__search-wrap .search-bar-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.header__search-wrap .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-wrap .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 1rem;
}

.header__search-wrap .search-button {
  width: 40px;
  height: 36px;
  background: url("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png") no-repeat -118px -71px;
}

.header__search-wrap .search-recent-keywords-wrap {
  display: none;
  width: calc(100% + 3px);
  margin-left: -1px;
  line-height: 36px;
}

.header__search-wrap .search-recent-keywords-wrap.active {
  display: block;
}

.header__search-wrap .search-recent-keywords-wrap .delete-button {
  padding: 0 6px;
  color: #4285f4;
  opacity: 0;
}

.header__search-wrap .search-recent-keywords-wrap .delete-button:hover {
  opacity: 1;
}

.header__search-wrap .search-recent-keywords-wrap .bottomButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #888;
  line-height: 30px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

.header__search-wrap .search-recent-keywords-wrap .all-delete-button,
.header__search-wrap .search-recent-keywords-wrap .switch-button {
  padding: 0 12px;
}

.header__search-wrap .search-recent-keywords-wrap .all-delete-button:hover,
.header__search-wrap .search-recent-keywords-wrap .switch-button:hover {
  text-decoration: underline;
}

.header__search-wrap .search-recent-keywords-title {
  margin: 0 6px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
}

.header__search-wrap .search-recent-keywords {
  padding: 10px 0;
}

.header__search-wrap .search-recent-keywords li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search-wrap .search-recent-keywords a {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  text-indent: 6px;
  line-height: 30px;
}

.header__search-wrap .search-automatic-completion-wrap {
  display: none;
  padding: 10px 0;
}

.header__search-wrap .search-automatic-completion-wrap.active {
  display: block;
}

.header__search-wrap .search-automatic-completion-wrap a {
  display: block;
  padding: 0 12px;
  line-height: 30px;
}
