// color
$black: #333;
$light-gray: #ddd;
$blue: #4285f4;

// font-size
$size-XS: 0.857em;
$size-S: 1rem;
$size-M: 1.125rem;
$size-L: 1.25rem;

// font-weight
$weight-R: 400;
$weight-M: 500;
$weight-B: 700;
