
@mixin flex($flex-direction: auto, $justify-content: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: center;
  }
  
  @mixin border($color: $main-color, $px: 2px) {
    border: $color $px solid;
  }
  
  @mixin focusOutline($outline: none) {
    &:focus {
      outline: $outline;
    }
  }
  